<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Andrew Gomez</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
    <link href="./public/css/home.css" rel="stylesheet" type="text/css"/>
   
</head>
<header>

</header>
<body>

    
    <div class="parallax">
        <p>
            Andrew Gomez
            <input type="button" id= "scrollBut" name= "see qualifications" value= "see qualifications"> 
        </p>
       
    </div>
    <div class="firstOverlap">
        <h1>I am a Full Stack Web Developer</h1>
    </div>
</body>
</html>